img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#title {
    position: absolute;
    left: calc(50% - 2.2em);
    top: 1em;
    width: 4.4em;
    z-index: 1;
    font-size: xx-large;
}
#house-container {
    position: absolute;
    left: calc(50% - 23.25em);
    top: 5em;
    width: 31em;
    height: 30.5em;      
    z-index: 0;    
}
.house {
    position: absolute;
    width: 15.4em;
    height: 30.5em;    
    border: 3px solid black;    
    z-index: 0;
}
#house-1 {    
    left: 0em;
    border-right: 3px solid black;  
    border-radius: 0.3em 0em 0em 0.3em;
}
#house-2 {    
    left: 15.5em;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
#house-3 {    
    left: 31em;
    border-left: 3px solid black;
    border-radius: 0em 0.3em 0.3em 0em;
}
.box {
    position: absolute;
    border: 3px solid black;
    width: 3.8em;
    height: 3.8em;      
    cursor: pointer;
    transition: 0.1s;
    border-radius: 0.5vmin;  
    vertical-align: middle;  
    z-index: 1;            
}